@import "../../theme/palette";

.favourites {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 220px;
  
  header {
    padding: 10px;
    background-color: $paletteColor2;
    color: $paletteColor1;
  }
}
