@import "../../theme/palette";

.header {
  margin-bottom: 50px;
  padding: 50px 0;
  background-color: $paletteColor7;
  text-align: center;
  
  h1 {
    font-size: 30px;
    letter-spacing: 16px;
    text-align: center;
    text-transform: uppercase;
  
    a {
      color: $paletteColor1;
      text-decoration: none;
    }
  }
  
  form {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
  
    input[type="text"] {
      width: calc(70% - 20px);
      margin-right: 20px;
      padding: 10px;
      border: 0;
      outline: 0;
      color: $paletteColor6;
      font-size: 16px;
      line-height: 1.5;
    }
    
    input[type="submit"] {
      width: 30%;
      border: 1px solid lighten($paletteColor8, 5%);
      outline: none;
      background-color: $paletteColor8;
      color: $paletteColor1;
    }
  }
}
