@import "../../theme/palette";

.movie {
  display: flex;
  width: 180px;
  margin: 0 5px 10px;
  background-color: $paletteColor9;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
    color: $paletteColor6;
  }
  
  figure {
    margin: 0;
    padding: 10px;
    color: $paletteColor6;
    
    img {
      width: 100%;
    }
  
    figcaption {
      display: flex;
      flex-direction: column;
      position: relative;
      color: $paletteColor6;
    
      h3 {
        margin: 25px 0 5px;
        color: $paletteColor5;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }
    
      p {
        margin: 5px 0;
        font-size: 12px;
      }
    
      span {
        display: inline-block;
        position: absolute;
        width: 60px;
        border-radius: 3px;
        background-color: $paletteColor5;
        color: $paletteColor1;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        
        &.votes {
          top: 0;
          left: 0;
        }
        
        &.date {
          top: 0;
          right: 0;
        }
      }
    }
  }
}