@import "../../theme/palette";

.movie {
  width: 45%;
  margin: 5px;
  padding: 10px;
  background-color: $paletteColor9;
  
  
  img {
    width: 100%;
  }
  
  figcaption {
    color: $paletteColor6;
    font-size: 12px;
    text-align: center;
  }
}